
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-571670903910302944.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-571670903910302944.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-571670903910302944.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-571670903910302944.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-571670903910302944.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-571670903910302944.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-571670903910302944.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-571670903910302944.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-571670903910302944.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-571670903910302944.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-571670903910302944.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-571670903910302944.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-571670903910302944.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-571670903910302944.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-571670903910302944.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-571670903910302944.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-571670903910302944.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-571670903910302944.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-571670903910302944.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-571670903910302944.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-571670903910302944.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-571670903910302944.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-571670903910302944.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-571670903910302944.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-571670903910302944.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-571670903910302944.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-571670903910302944.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-571670903910302944.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-571670903910302944.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-571670903910302944.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-571670903910302944.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-571670903910302944.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-571670903910302944.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-571670903910302944.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-571670903910302944.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-571670903910302944.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-571670903910302944.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-571670903910302944.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-571670903910302944.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-571670903910302944.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-571670903910302944.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-571670903910302944.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-571670903910302944.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-571670903910302944.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-571670903910302944.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-571670903910302944.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-571670903910302944.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-571670903910302944.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-571670903910302944.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-571670903910302944.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-571670903910302944.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-571670903910302944.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-571670903910302944.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-571670903910302944.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-571670903910302944.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bc-mobile:"]{border-color:var(--bc-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-571670903910302944.gps.gpsil [style*="--bw-mobile:"]{border-width:var(--bw-mobile)}.gps-571670903910302944.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-571670903910302944.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-571670903910302944.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-571670903910302944.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-571670903910302944.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-571670903910302944.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-571670903910302944.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-571670903910302944.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-571670903910302944.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-571670903910302944.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-571670903910302944.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-571670903910302944.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-571670903910302944 .gp-relative{position:relative}.gps-571670903910302944 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-571670903910302944 .gp-mb-0{margin-bottom:0}.gps-571670903910302944 .gp-flex{display:flex}.gps-571670903910302944 .gp-grid{display:grid}.gps-571670903910302944 .\!gp-hidden{display:none!important}.gps-571670903910302944 .gp-hidden{display:none}.gps-571670903910302944 .gp-max-w-full{max-width:100%}.gps-571670903910302944 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-571670903910302944 .gp-flex-col{flex-direction:column}.gps-571670903910302944 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-571670903910302944 .gp-duration-200{transition-duration:.2s}.gps-571670903910302944 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-571670903910302944 .tablet\:\!gp-hidden{display:none!important}.gps-571670903910302944 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-571670903910302944 .mobile\:\!gp-hidden{display:none!important}.gps-571670903910302944 .mobile\:gp-hidden{display:none}}.gps-571670903910302944 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#ffffff","image":{"height":0,"src":"","width":0},"loop":"","position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gJCu73-meO"}' data-id="gJCu73-meO" id="gJCu73-meO" data-same-height-subgrid-container class="gJCu73-meO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:8px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:#ffffff;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g7X5wa_xd0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gnAXDAyPZh"
        class="gnAXDAyPZh"
        style="--ta:left;--bs:solid;--bs-mobile:solid;--bw:1px 1px 1px 1px;--bw-mobile:1px 1px 1px 1px;--bc:#121212;--bc-mobile:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ml-mobile:20px;--mb-mobile:10px;--mr-mobile:18px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763339619179"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggnAXDAyPZh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gnAXDAyPZh">
        .gnAXDAyPZh {

}
.gnAXDAyPZh p {

}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-571670903910302944 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/cngunn-h8/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=571080519383516384&sectionId=571670903910302944)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggnAXDAyPZh_text","label":"ggnAXDAyPZh_text","default":"<p><span style=\"background-color:transparent;color:#000000;font-size:18px;\"><strong>P.S.</strong> Six months after getting my Elevé, Emma asked me why I don't wince anymore when she jumps into my arms. I told her it's because Mommy found a way to make her back strong again. She hugged me tighter and whispered, \"I'm so happy you're not broken anymore, Mommy.\"</span></p><p>&nbsp;</p><p><span style=\"background-color:transparent;color:#000000;font-size:18px;\">Neither am I, sweetheart. Neither am I.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}